<p><strong>Dear Student</strong></p>
    <p><strong>Welcome to Extramarks Live.</strong></p>
    <p>As a free subscriber, you have access to the following features.</p>
    <ul><li>All academic (categorized under Learn, Practice and Test) and enabling services (Progress, Scheduler, Group, note and Mentor) for all chapters from all subjects for the board and class mentioned in your profile.</li>

    <li>All academic services under the categories of Learn and Practice for single chapter of all subjects for all Boards and classes.</li>
    </ul>
    <p>Your status as a student entitles you to the following.</p>
    <ul>
    <li>You may have a mentor/s (maximum one per subject) to help with your studies. The mentor can access your progress and test reports for the chapters open to your viewing. The mentor may give you assessments and evaluate your performance.</li>
    <li>You may be a mentor for a fellow student.</li>
    <li>You may create an academic group with as many members as you wish. You are free to be members of others’ groups.</li>
    </ul>
    <p>We wish you a happy and enriching experience at Extramarks Live.</p>
    <p><strong>Extramarks Team</strong></p>