<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Extramarks Live</title>
<style type="text/css">
body {margin: 0px;}
</style>
</head>

<body>
<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
   <td align="left"><div  style="padding:5px 15px 5px 0; text-align:justify; font:'Myriad Pro', 'Gill Sans', 'Gill Sans MT' , 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; font-size:14px; line-height:18px; color:#ccc">You are receiving this mail as you are registered user of Extramarks.com</div></td>
  </tr>
</table>

<table width="730" border="0" align="center" cellpadding="0" cellspacing="0" style="border:#999 1px solid;">
  <tr style="background-color:#272959; color:#FFFFFF;">
    <td><div  style="padding:15px; text-align:justify; font:'Myriad Pro', 'Gill Sans', 'Gill Sans MT' , 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; font-size:18px; line-height:18px;"><b style="color:#fff;">Dear Admin</b>,<span style="font-size:13px; color:#fff;"></span><br> 
   </div></td>
  </tr>
   <tr style="background-color:#eaeaea">
   <td><div  style="padding:10px 15px 0px 15px; text-align:justify; font:'Myriad Pro', 'Gill Sans', 'Gill Sans MT' , 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; font-size:14px; line-height:18px;">Welcome to Extramarks LIVE</div></td>
   </tr>
  
  <tr style="background-color:#eaeaea">
    <td style="padding:10px 15px 0px 15px; text-align:justify; font:'Myriad Pro', 'Gill Sans', 'Gill Sans MT' , 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; font-size:14px; line-height:18px;">&nbsp;</td>
  </tr>
  <tr style="background-color:#eaeaea">
    <td style="padding:0px 15px; text-align:justify; font:'Myriad Pro', 'Gill Sans', 'Gill Sans MT' , 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; font-size:14px; line-height:18px;"><table width="750" border="0" cellspacing="0" cellpadding="5">
      <tr>
        <td align="left" valign="middle"><img src="{BASE_URL}/images/website/mailer/arrow.jpg" width="17" height="17" alt=""/></td>
        <td align="left" valign="middle"><strong>List of accounts expired today :<br />{UserList}</strong></td>
      </tr>
      <tr>
        <td width="17" align="left" valign="middle">&nbsp;</td>
        <td width="713" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
        
          </table></td>
      </tr>
    </table></td>

  <tr style="background-color:#eaeaea">
    <td style="padding:0px 15px; text-align:justify; font:'Myriad Pro', 'Gill Sans', 'Gill Sans MT' , 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; font-size:14px; line-height:18px;"><table width="27" border="0" cellspacing="0" cellpadding="5">
      
    </table></td>
  </tr>
    <tr style="background-color:#eaeaea">
    <td style="padding:10px 15px 0px 15px; text-align:justify; font:'Myriad Pro', 'Gill Sans', 'Gill Sans MT' , 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; font-size:14px; line-height:18px;">&nbsp;</td>
  </tr>
  <tr style="background-color:#eaeaea">
    <td style="padding:0px 15px; text-align:justify; font:'Myriad Pro', 'Gill Sans', 'Gill Sans MT' , 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; font-size:14px; line-height:18px;"><table width="750" border="0" cellspacing="0" cellpadding="5">
      <tr style="width:375px">
        <td width="353" align="left" valign="middle" style="line-height:20px">
          <strong>Extramarks Education Private Limited</strong><br>
          Fax: +91-120-4175301<br>
          Customer Care No. +91-120-4175300 (Ext. 538).
          </td>
        <td width="377" align="left" valign="middle"  style="line-height:20px"><strong>Support<br>
          </strong>Email : <a href="mailto:customerservice@extramarks.com">customerservice@extramarks.com</a><br>
          <a href="http://www.extramarks.com/contact-us" target="_blank" style="margin-left:52px">HELPDESK</a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td style="padding:5px 20px; text-align:left"><span style="font-size:21px; font:'Myriad Pro', 'Gill Sans', 'Gill Sans MT' , 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; ">Call <strong>1800-102-5301</strong> or visit <strong><a href="http://www.extramarks.com/" style="color:#FF0004; text-decoration:none" target="_blank">www.extramarks.com</a></strong></span></td>
  </tr>
</table>
<table align="center" style="font-family:Arial; font-size:10px; color:#373737; padding-left:8px;">
  <tr>
    <td align="center"><span style="font-family:Arial; font-size:10px; color:#373737;">Do  not wish to receive these mails, then please send us a mail at <a href="mailto:unsubscribe@extramarks.com" title="unsubscribe@extramarks.com">unsubscribe@extramarks.com</a> with  the subject <strong>&quot;Unsubscribe&quot;.</strong></span></td>
  </tr>
</table>

<map name="Map2">
  <area shape="rect" coords="9,67,149,107" href="http://www.extramarks.com/easy-effective" title="Learn How" target="_blank">
  <area shape="rect" coords="158,69,324,104" href="http://www.extramarks.com/product-tour" title="Product Tour" target="_blank">
</map>
</body>
</html>
