<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>:: Extramarks Education Pvt. Ltd. ::</title>
</head>

<body>
<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="border:25px solid #f8ecca; font-family:verdana">
  <tr>
    <td width="543" style="padding:10px 20px;"><a href="http://www.extramarks.com" target="_blank"><img src="{SITE_URL}/images/website/logo.jpg"></a></td>
    <td width="207" style="padding:10px 20px; text-align:right; color:#000066; font-family:verdana; line-height:22px; font-size:13px; font-weight:bold;">1800-102-5301<br>
      <a href="http://www.extramarks.com" target="_blank" style="text-decoration:none; color:#000066;">www.extramarks.com</a><br>
    <a href="mailto:live@extramarks.com" style="text-decoration:none; color:#000066;">live@extramarks.com</a></td>
  </tr>
  <tr>
    <td colspan="2" style="padding:10px 20px; font-family:verdana; font-size:16px; line-height:26px; color:#333333;">Dear {USER_NAME},
      <p>Thank you for your trust in <strong>Extramarks LIVE</strong>. We are committed to helping you help your child reach his or her true potential in learning. </p>
      <p>Here are a few tips on how to use Extramarks LIVE as an effective study tool in your child&#39;s pursuit of academic excellence.      </p>
      <ul style="list-style-image:url(images/arrow.jpg);">
      	<li>Use the three-way approach of <strong>Learn</strong>, <strong>Practice</strong> and <strong>Test</strong>. Start with <strong>Extramarks LIVE Smart Learn Modules</strong> for easy-to-understand explanations of underlying concepts using animations, quick study and other engaging methods.</li>
      	<li>Use the <strong>Notes</strong> feature to jot down important points. Notes is also a great tool for quick revision at any time.</li>
      	<li> Your child can <strong>Practice</strong> effectively with solved papers, virtual labs, value based questions, High Order Thinking Skills questions, interactive activities and much more.</li>
      	<li> Follow your child&#39;s progress on <strong>Tests</strong> with Multiple Choice Questions, CCE short and long questions and lots of quizzes. </li>
      	<li> Plan your child&#39;s study with <strong>Extramarks LIVE Schedule</strong>. Create a daily, weekly or monthly schedule with a status report at the end of the period.</li>
      	<li> You can sign up as a <strong>Mentor</strong> to help clarify doubts, check your scores, assess your child&#39;s progress and share feedback.</li>
      	<li> Your child can create study <strong>Groups</strong> by adding friends and peers to share questions and search for answers together. Make learning fun! </li>
      </ul>
      <p>Happy Learning &amp; High Scoring,</p>
    <p style="color:#ff0000; font-weight:bold; font-size:15px; font-family:verdana;">Team Extramarks LIVE</p></td>
  </tr>
  <tr>
    <td colspan="2" align="center" valign="middle" style="padding:5px 0px; color:#333; font-size:16px; font-family:verdana;"><strong>Questions?</strong> Ask us on <strong>1800-102-5301</strong></td>
  </tr>
  <tr>
    <td colspan="2" style="padding:10px; font-family:verdana; color:#ff0000; text-align:center; font-weight:bold;" valign="middle"><a href="http://www.extramarks.com/product-tour" target="_blank"><img src="{SITE_URL}/images/website/emvideotour.gif"></a> &nbsp; <a href="http://www.extramarks.com/easy-effective" target="_blank"><img src="{SITE_URL}/images/website/learnmore.gif"></a></td>
  </tr>
  <tr>
    <td colspan="2" align="center" valign="middle" style="padding:5px 0px; color:#ff0000; font-size:25px; font-style:italic; font-family:verdana;"><strong>Extramarks LIVE &#8211; Your Class With You</strong></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><table width="0%" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td style="padding:0px 10px;"><a href="https://www.facebook.com/ExtramarksDigitalEducation" target="_blank"><img src="{SITE_URL}/images/website/facebook.jpg"></a></td>
        <td style="padding:0px 10px;"><a href="https://plus.google.com/+extramarks" target="_blank"><img src="{SITE_URL}/images/website/google.jpg"></a></td>
        <td style="padding:0px 10px;"><a href="https://twitter.com/extramarks" target="_blank"><img src="{SITE_URL}/images/website/twitter.jpg"></a></td>
        <td style="padding:0px 10px;"><a href="https://www.youtube.com/channel/UC7t6bG2oCbKXBm2vyVwCdwQ" target="_blank"><img src="{SITE_URL}/images/website/youtube.jpg"></a></td>
        <td style="padding:0px 10px;"><a href="mailto:live@extramarks.com"><img src="{SITE_URL}/images/website/mail.jpg"></a></td>
        <td style="padding:0px 10px;"><a href="https://www.pinterest.com/extramarksedu/" target="_blank"><img src="{SITE_URL}/images/website/pinintrest.jpg"></a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" style="padding-bottom:5px; font-family:verdana; font-size:25px; line-height:22px; color:#ff0000; text-align:center; font-weight:bold;"><a href="http://www.extramarks.com" target="_blank" style="text-decoration:none;color:#FF0000">www.extramarks.com</a></td>
  </tr>
  <tr>
    <td colspan="2" style="padding:10px 20px; font-family:verdana; font-size:14px; line-height:22px; color:#333333;">You have received this mail because you are a registered user of <a href="http://www.extramarks.com/" target="_blank" style="text-decoration:none">www.extramarks.com</a>. If you do not wish to receive such mails from us <a href="mailto:unsubscribe@extramarks.com" title="unsubscribe@extramarks.com" style="text-decoration:none;">click here</a> to unsubscribe. </td>
  </tr>
</table>
</body>
</html>
