<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>:: Extramarks Education Pvt Ltd ::</title>
</head>

<body>
<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="border:25px solid #f8ecca; font-family:verdana;">
  <tr>
    <td width="543" style="padding:10px 20px;"><a href="{BASE_URL}" target="_blank"><img src="{SITE_URL}/images/website/logo.jpg"></a></td>
    <td width="207" style="padding:10px 20px; text-align:right; color:#000066; font-family:verdana; line-height:22px; font-size:13px; font-weight:bold;">1800-102-5301<br>
      <a href="{BASE_URL}" target="_blank" style="text-decoration:none; color:#000066;">www.extramarks.com</a><br>
    <a href="mailto:live@extramarks.com" style="text-decoration:none; color:#000066;">live@extramarks.com</a></td>
  </tr>
  <tr>
    <td colspan="2" style="padding:10px 20px; font-family:verdana; font-size:16px; line-height:26px; color:#333333;"><p>Dear [FULLNAME],</p>
      <p>[STUDENTNAME] has sent you an invitation to join Extramarks LIVE study group for [BOARDNAME]-[CLASSNAME], [SCHOOLNAME].</p>
      <p align="center"><a href="{BASE_URL}/my-groups" target="_blank"><img src="{SITE_URL}/images/website/joingroup.jpg"></a></p>
      <p>For assistance contact us on <strong>1-800-102-5301</strong> or mail us at <a href="mailto:live@extramarks.com" style="text-decoration:none">live@extramarks.com</a>.</p>
      <p>Happy Learning &amp; High Scoring,</p>
      <p style="color:#ff0000; font-weight:bold; font-size:15px; font-style:italic; font-family:verdana;">Team Extramarks Live</p></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><table width="0%" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td style="padding:0px 10px;"><a href="https://www.facebook.com/ExtramarksDigitalEducation" target="_blank"><img src="{SITE_URL}/images/website/facebook.jpg"></a></td>
        <td style="padding:0px 10px;"><a href="https://plus.google.com/+extramarks" target="_blank"><img src="{SITE_URL}/images/website/google.jpg"></a></td>
        <td style="padding:0px 10px;"><a href="https://twitter.com/extramarks" target="_blank"><img src="{SITE_URL}/images/website/twitter.jpg"></a></td>
        <td style="padding:0px 10px;"><a href="https://www.youtube.com/channel/UC7t6bG2oCbKXBm2vyVwCdwQ" target="_blank"><img src="{SITE_URL}/images/website/youtube.jpg"></a></td>
        <td style="padding:0px 10px;"><a href="mailto:live@extramarks.com"><img src="{SITE_URL}/images/website/mail.jpg"></a></td>
        <td style="padding:0px 10px;"><a href="https://www.pinterest.com/extramarksedu/" target="_blank"><img src="{SITE_URL}/images/website/pinintrest.jpg"></a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" style="padding-bottom:5px; font-family:verdana; font-size:25px; line-height:22px; color:#ff0000; text-align:center; font-weight:bold;"><a href="{BASE_URL}/" target="_blank" style="text-decoration:none;color:#FF0000">www.extramarks.com</a></td>
  </tr>
  <tr>
    <td colspan="2" style="padding:10px 20px; font-family:verdana; font-size:14px; line-height:22px; color:#333333;">You have received this mail because you are a registered user of <a href="{BASE_URL}" target="_blank" style="text-decoration:none">www.extramarks.com</a>. If you do not wish to receive such mails from us <a href="mailto:unsubscribe@extramarks.com" title="unsubscribe@extramarks.com" style="text-decoration:none;">click here</a> to unsubscribe. </td>
  </tr>
</table>
</body>
</html>
