<table width="730" border="0" cellspacing="0" cellpadding="0" align="center" style="border:#999 1px solid; text-align:left; font:Myriad Pro, Gill Sans, Gill Sans MT , DejaVu Sans Condensed, Helvetica, Arial, sans-serif; font-size:14px; line-height:18px;">
		<tr>
			<td colspan="2">
            <table width="100%" border="0" cellspacing="0" cellpadding="5" style="text-align:left; font:Myriad Pro, Gill Sans, Gill Sans MT , DejaVu Sans Condensed, Helvetica, Arial, sans-serif; font-size:14px; line-height:18px; background-color:#eaeaea;">
			<tr><td style="background-color:#272959; color:white; padding:15px 15px; font-size:20px;">Dear <b><FULLNAME></b>,</td>
			</tr>			
			<tr><td style="padding-left:15px;"><b><STUDENTNAME></b> sends you an invite to be group member on the Extramarks Learning Programme. </td></tr>
			<tr><td style="padding-left:15px;">We welcome you to Extramarks, where Education is made Easy and Effective!</td></tr>	
			<tr><td style="padding-left:15px;"><b>The following are the <TYPEOFUSER> details.</b></td></tr>
			<tr><td style="padding-left:15px;"><TYPEOFUSER> Name:&nbsp;&nbsp;<STUDENTNAME></td></tr>
                        <tr><td style="padding-left:15px;">Board:&nbsp;&nbsp;<BOARDNAME></td></tr>
			<tr><td style="padding-left:15px;">Class:&nbsp;&nbsp;<CLASSNAME></td></tr>
			<tr><td style="padding-left:15px;">School Name:&nbsp;&nbsp;<SCHOOLNAME></td></tr>	
				<tr><td style="padding-left:15px;">Please call us at our toll free number 1800-102-5301 or write to us at <a href="mailto:live@extramarks.com">live@extramarks.com</a></td></tr>			
				
			</table></td>
		</tr> 
        <tr style="background-color:#eaeaea">
          <td colspan="2" style="padding:0px 10px; text-align:justify; font:Myriad Pro, Gill Sans, Gill Sans MT , DejaVu Sans Condensed, Helvetica, Arial, sans-serif; font-size:14px; line-height:18px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="5" style="margin-top:10px;">
              <tr style="width:375px">
                <td colspan="2" align="left" valign="middle" style="line-height:20px"> Happy Learning<br>
                  Team Extramarks Live </td>
              </tr>
              <td colspan="2" align="left" valign="middle"  style="line-height:20px"><strong>Support</strong><br />
                  <strong>Email</strong> : <a href="mailto:live@extramarks.com">live@extramarks.com</a> 
                  <a href="{BASE_URL}/contact-us" target="_blank" style="float:right;"><strong>HELPDESK</strong></a></td>
            </table></td>
        </tr>
        <tr>
          <td rowspan="2" style="padding:0px 20px; text-align:left"><a href="http://www.extramarks.com" target="_blank"><img src="{SITE_URL}/images/website/mailer/logo.gif" width="149" height="155" alt=""/></a></td>
          <td style="padding:5px 20px 0px 20px;">
          <div style="float:right; margin-right:85px;"><img src="{SITE_URL}/images/website/mailer/tex1.jpg" alt="Come, take your flip class - Anytime-Anywhere. 
Access Extramarks Live on internet, buy a tablet or Micro SD Card to use on your tablet." />
              <div style="padding-left:9px;"><a href="http://www.extramarks.com/easy-effective" target="_blank" style="display:inline-block;"><img src="{SITE_URL}/images/website/mailer/learnhow.jpg" /></a> <a href="http://www.extramarks.com/product-tour" target="_blank" style="display:inline-block;"><img src="{SITE_URL}/images/website/mailer/producttour.jpg" /></a> </div>
            </div></td>
        </tr>
        <tr>
          <td style="padding:5px 20px; text-align:right"><span style="font-size:21px; font:'Myriad Pro', 'Gill Sans', 'Gill Sans MT' , 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; ">Call <strong>1800-102-5301</strong> or visit <strong><a href="http://www.extramarks.com/" style="color:#FF0004; text-decoration:none" target="_blank">www.extramarks.com</a></strong></span></td>
        </tr>
      </table>
      <table align="center" width="730" style="font-family:Arial; font-size:10px; color:#373737; padding-left:8px; margin-top:20px;">
  <tr>
    <td align="center"><span style="font-family:Arial; font-size:10px; color:#373737;">Do  not wish to receive these mails, then please send us a mail at <a href="mailto:unsubscribe@extramarks.com" title="unsubscribe@extramarks.com">unsubscribe@extramarks.com</a> with  the subject <strong>&quot;Unsubscribe&quot;.</strong></span></td>
  <tr>
	</table>